

.navbar {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  /* Styles for the logo */
  margin-right: auto; /* Pushes the logo to the left */
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}

.navbar-menu {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-grow: 1; /* Allows the menu to take up remaining space */
}
  
  .navbar-item {
    color: #ffffff;
    margin: 1 auto;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-item:hover {
    color: var(--secondary-color);
  }
  
  .navbar-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: var(--secondary-color);
  }
  
  @media (width >=1280px) {
    header {
      position: relative;
      z-index: 1;
    }
  
    nav>img {
      display: initial;
    }
  
    .mobile-menu {
      display: none;
    }
  
    .mobile-menu-content {
      display: none;
    }
  }
  
  header{
    margin-top: 1rem;
  }